{% extends "layout.html" %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
</div>

<div class="row">
    {% for prod in product_list %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="producto//{{ prod.id }}">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="producto/{{ prod.id }}">{{ prod.nombre }}</a>
                </h4>
                <h5>S/ {{ prod.precio }}</h5>
                <p class="card-text">Categoria: {{ prod.categoria.nombre }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>
    {% endfor %} 
</div>
{% endblock %}